$color-primary: #152028;
$color-secondary: #346C7C;
$color-tertiary: #182A2D;
$color-quaternary: darkred;
$color-quinary: #82ddb4;
$color-senary: white;
$color-septenary: black;
$beat-duration: 60/120s; /* 120 bpm is modern dance music */

body {
    background-color: $color-senary;
    display: flex;
    margin: 0 auto;
    padding: 25px;
}

.container-main {
    align-items: center;
    background-color: $color-primary;
    border-radius: 20px;
    border: 1px solid $color-septenary;
    display: flex;
    flex-direction: column;
    justify-content: centers;
    margin: 0 auto;
    padding: 10px;

    /* Top, middle, bottom row containers */
    .container-top-row,
    .container-middle-row,
    .container-bottom-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }

    /* Top details */
    .container-one,
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        position: relative;
        width: 250px;
        height: 250px;
        min-width: 250px;
        min-height: 250px;
        border-radius: 20px;
        background-color: $color-quinary;
        border: 1px solid $color-primary;
        overflow: hidden;
    }

    /* unique schtuff */
    .container-one {
        .circle-svg {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .circle {
            fill: $color-quaternary;
            animation: moveCircle 5s linear infinite;
        }
    }

    .container-two {
        .morphing-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 25%;
            width: 25%;
            background-color: $color-quaternary;
            border-radius: 50%;
            transition: all 0.5s ease;
            transform-origin: center;
        }

        &:hover .morphing-circle {
            border-radius: 0%;
            background-color: $color-senary;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }

    /* Middle details */
    .container-three {
        .curtain {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .curtain__wrapper {
            width: 100%;
            height: 100%;
        }

        input[type=checkbox] {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0;
        }

        input[type=checkbox]:checked ~ div.curtain__panel--left {
            transform: translateX(0);
        }

        input[type=checkbox]:checked ~ div.curtain__panel--right {
            transform: translateX(0);
        }

        .curtain__panel {
            background: $color-quinary;
            width: 50%;
            height: 100vh;
            float: left;
            position: relative;
            z-index: 2;
            transition: all 1s ease-out;
        }

        .curtain__panel--left {
            transform: translateX(-25%);

            .half-circle--left {
                position: absolute;
                width: 60px;
                height: 30px;
                top: 120px;
                left: 110px;
                transform: translate(-50%, -50%) rotate(-90deg);
                background: $color-quaternary;
                border-radius: 30px 30px 0 0;
                z-index: 99;
            }
        }

        .curtain__panel--right {
            transform: translateX(25%);

            .half-circle--right {
                position: absolute;
                width: 60px;
                height: 30px;
                top: 120px;
                left: 15px;
                transform: translate(-50%, -50%) rotate(90deg);
                background: $color-quaternary;
                border-radius: 30px 30px 0 0;
                z-index: 99;
            }
        }

        .curtain__prize {
            background: $color-quinary;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }

    @keyframes moveCircle {
        0%, 100% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(200px, 0);
        }

        50% {
            transform: translate(200px, 200px);
        }

        75% {
            transform: translate(0, 200px);
        }
    }
}
