body {
  background-color: white;
  display: flex;
  margin: 0 auto;
  padding: 25px;
}

.container-main {
  align-items: center;
  background-color: #152028;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: centers;
  margin: 0 auto;
  padding: 10px;
  /* Top, middle, bottom row containers */
  /* Top details */
  /* unique schtuff */
}
.container-main .container-top-row,
.container-main .container-middle-row,
.container-main .container-bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.container-main .container-one,
.container-main .container-two,
.container-main .container-three,
.container-main .container-four,
.container-main .container-five,
.container-main .container-six {
  position: relative;
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 20px;
  background-color: #82ddb4;
  border: 1px solid #152028;
  overflow: hidden;
}
.container-main .container-one .circle-svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container-main .container-one .circle {
  fill: darkred;
  animation: moveCircle 5s linear infinite;
}
.container-main .container-two .morphing-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25%;
  width: 25%;
  background-color: darkred;
  border-radius: 50%;
  transition: all 0.5s ease;
  transform-origin: center;
}
.container-main .container-two:hover .morphing-circle {
  border-radius: 0%;
  background-color: white;
  transform: translate(-50%, -50%) rotate(180deg);
}
.container-main .container-three .curtain {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-main .container-three .curtain__wrapper {
  width: 100%;
  height: 100%;
}
.container-main .container-three input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
}
.container-main .container-three input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}
.container-main .container-three input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}
.container-main .container-three .curtain__panel {
  background: #82ddb4;
  width: 50%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 2;
  transition: all 1s ease-out;
}
.container-main .container-three .curtain__panel--left {
  transform: translateX(-25%);
}
.container-main .container-three .curtain__panel--left .half-circle--left {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 120px;
  left: 110px;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: darkred;
  border-radius: 30px 30px 0 0;
  z-index: 99;
}
.container-main .container-three .curtain__panel--right {
  transform: translateX(25%);
}
.container-main .container-three .curtain__panel--right .half-circle--right {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 120px;
  left: 15px;
  transform: translate(-50%, -50%) rotate(90deg);
  background: darkred;
  border-radius: 30px 30px 0 0;
  z-index: 99;
}
.container-main .container-three .curtain__prize {
  background: #82ddb4;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
@keyframes moveCircle {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200px, 0);
  }
  50% {
    transform: translate(200px, 200px);
  }
  75% {
    transform: translate(0, 200px);
  }
}
.container-main .container-four {
  display: flex;
}
.container-main .container-four .circle--pulser {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 60px;
  height: 60px;
  background-color: darkred;
  border-radius: 50%;
  animation: pulse 0.25s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.container-main .container-five {
  display: block;
}
.container-main .container-five .hamburger-menu {
  position: relative;
  width: 240px;
  height: 100%;
  background-color: #82ddb4;
  overflow: hidden;
}
.container-main .container-five .menu-icon {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 100px;
  height: 100px;
  line-height: 50px;
  font-size: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  text-shadow: 1px 2px 2px #152028;
  z-index: 2;
}
.container-main .container-five .menu-content {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #82ddb4;
  transition: left 0.3s ease;
}
.container-main .container-five .menu-content nav {
  padding: 20px;
}
.container-main .container-five .menu-content ul {
  list-style-type: none;
  padding: 0;
}
.container-main .container-five .menu-content li {
  margin-bottom: 15px;
}
.container-main .container-five .menu-content a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.container-main .container-five input[type=checkbox] {
  display: 1;
}
.container-main .container-five input[type=checkbox]:checked ~ div.hamburger-menu div.menu-content {
  left: 0;
}
.container-main .container-five input[type=checkbox]:checked + .menu-icon {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
