@import url('/wdd-331/sites/week1/styles/small.css');

@media only screen and (min-width: 651px) {
    #content {
        display: grid;
        grid-template-columns: repeat(8,100px);
        grid-template-rows: repeat(16,100px);
        font-family: "Young Serif", serif;
    }

    #content * {
        background-color: #fff9f2;
    }


    #content .horizontal-rule {
        display: none;
    }

    #content .title {
        display: grid;
        grid-column: 1/9;
        grid-row: 1/2;
        width: 800px;
        height: 200px;
    }

    #content .title .h1 {
        display:grid;
        grid-column: 1/9;
        width: 800px;
        text-align: center;
    }

    #content .title .h1 .a {
        display: grid;
        text-decoration: none;
    }

    #content .nav {
        display: grid;
        grid-column: 1/9;
        grid-row: 2/3;
        height: 100px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    #content .nav ul {
        display: flex;
        justify-content: right;
        padding: 0;
        list-style-type: none;
    }

    #content .nav li {
        margin: 0 15px;
    }

    #content .nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 15px;
        display: inline-block;
        transition: background-color 0.3s ease;
    }

    #content .main {
        display: grid;
        grid-column: 1/9;
        grid-row: 3/15;
        height: 1200px;
        width: 800px;
    }

        #content .main .article1 {
            display: grid;
            grid-column: 1/5;
            grid-row: 1/4;
            height: 600px;
            grid-template-columns: repeat(4, 200px);
            grid-template-rows: repeat(3, 200px);
        }

            #content .main .article1 h2 .post-date {
                display: grid;
                grid-column: 1/2;
                width: 200px;
                border-right: 1px solid lightgray
            }

            #content .main .article1 h2 a {
                display: grid;
                grid-column: 2/5;
                width: 500px;
                text-decoration: none;
                color: #333;
                text-align: center;
            }

            #content .main .article1 .post-content .figure {
                display: grid;
                grid-column: 2/5;
                grid-row: 2/5;
                align-items: center;
                width: 600px;
            }

            #content .main .article1 .post-content .figure img {
                display: grid;
            }

            #content .main .article1 .post-content p {
                display: grid;
                color: #333;
                text-align: center;
                grid-column: 2/5;
            };
}