@import url('/wdd-331/sites/week1/styles/small.css');

@media only screen and (min-width: 651px) {
    #content {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: repeat(10,100px);
    }
}