/* Variables */
$font-family: 'Arial', sans-serif;
$background-color: #f0f0f0;
$text-color: #333;
$border-color: white;
$primary-color: #3D3B48;
$secondary-color: #0A0D19;
$tertiary-color: #A16B69;
$quaternary-color: #C7B7A8;
$quinary-color: #535C66;
$highlight-color: #ffd700;
$shadow-color: rgb(0 0 0 / 20%);
$shadow-hover: rgb(0 0 0 / 75%);
$name: slidein;
$duration: 1s;

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* General body styling */
body {
    width: 85%;
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('../images/background-small.jpg');
    background-size: cover;
}

/* Wrapper */
.page-wrapper {
    width: 80%;
    min-width: 501px;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* Introduction section */
.intro header {
    background-color: $primary-color;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
    animation: fade-in-down 2s ease-in-out;

    h1, h2 {
        margin: 0;
        padding: 0;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 81.1%);
    }

    background-image: url('../images/hero-small.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

a {
    color: $quaternary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $highlight-color;
    }
}

/* Summary and preamble sections */
.preamble {
    background-color: $secondary-color;
    color: white;
    border: 1px dotted $border-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
        box-shadow: 0 8px 16px $shadow-hover;
    }

    h3 {
        color: white;
    }
}

.main.supporting {
    background-color: $tertiary-color;
    color: white;
    border: 1px dotted $border-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
        box-shadow: 0 8px 16px $shadow-hover;
    }

    h3 {
        color: white;
    }
}

/* Summary */
.summary {
    background-color: $quaternary-color;
    border: 1px dotted $border-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
        box-shadow: 0 8px 16px $shadow-hover;
    }

    a {
        color: black;
        font-weight: 800;
    }
}

/* Header image */
#header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

/* Sidebar */
.sidebar {
    background-color: $quinary-color;
    border: 1px dotted $border-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px $shadow-color;
    transition: box-shadow 0.5s ease-in-out;

    &:hover {
        box-shadow: 0 8px 16px $shadow-hover;
    }

    .select {
        color: white;
        padding-left: 20px;
    }

    .design-selection {
        color: black;
        width: 87%;

        nav li {
            display: grid;
            color: white;
            list-style-type: none;
            padding: 0;
            margin: 0;

            .design-name {
                display: flex;
                background-color: $quaternary-color;
                color: white;
                text-shadow: 2px 2px 3px black;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                background-image: url('../images/fairy-background-small.jpg');
                background-size: cover;
                background-position: center;
                height: 100px;
                font-size: 1.5em;
                font-weight: 800;
                margin-top: 20px;
                border: 1px dotted white;
            }

            .designer-name {
                color: white;
            }
        }
    }

    .design-archives {
        h3 {
            color: white;
            padding-left: 20px;
        }

        nav li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }

    .zen-resources {
        h3 {
            color: white;
            padding-left: 20px;
        }

        ul li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
}

.extra1 {
    background-image: url("../images/zen-garden-logo.svg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    filter: drop-shadow(0 0 10px rgb(0 0 0 / 50%));
}