/* scratching the _breakpoint import in lieu of the github problem */
@media screen and (min-width: 400px) and (max-width: 575px) {
  /* Variables */
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* General body styling */
  body {
    width: 85%;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("../images/background-small.jpg");
    background-size: cover;
  }
  /* Wrapper */
  .page-wrapper {
    width: 80%;
    min-width: 501px;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  /* Introduction section */
  .intro header {
    background-color: #3D3B48;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fade-in-down 2s ease-in-out;
    background-image: url("../images/hero-small.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
  }
  .intro header h1, .intro header h2 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.811);
  }
  a {
    color: #C7B7A8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #ffd700;
  }
  /* Summary and preamble sections */
  .preamble {
    background-color: #0A0D19;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .preamble:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .preamble h3 {
    color: white;
  }
  .main.supporting {
    background-color: #A16B69;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .main.supporting:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .main.supporting h3 {
    color: white;
  }
  /* Summary */
  .summary {
    background-color: #C7B7A8;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .summary:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .summary a {
    color: black;
    font-weight: 800;
  }
  /* Header image */
  #header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  /* Sidebar */
  .sidebar {
    background-color: #535C66;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .sidebar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .sidebar .select {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-selection {
    color: black;
    width: 87%;
  }
  .sidebar .design-selection nav li {
    display: grid;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .design-selection nav li .design-name {
    display: flex;
    background-color: #C7B7A8;
    color: white;
    text-shadow: 2px 2px 3px black;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-image: url("../images/fairy-background-small.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 20px;
    border: 1px dotted white;
  }
  .sidebar .design-selection nav li .designer-name {
    color: white;
  }
  .sidebar .design-archives h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-archives nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .zen-resources h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .zen-resources ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .extra1 {
    background-image: url("../images/zen-garden-logo.svg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}
@media screen and (min-width: 576px) and (max-width: 775px) {
  /* Variables */
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* General body styling */
  body {
    width: 95%;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    background-image: url("../images/background-small.jpg");
    background-size: cover;
  }
  /* Wrapper */
  .page-wrapper {
    width: 95%;
    margin-left: 20px !important;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
  }
  /* Introduction section */
  .intro header {
    background-color: #3D3B48;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fade-in-down 2s ease-in-out;
    background-image: url("../images/hero-small.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
  }
  .intro header h1, .intro header h2 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.811);
  }
  a {
    color: #C7B7A8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #ffd700;
  }
  /* Summary and preamble sections */
  .preamble {
    background-color: #0A0D19;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .preamble:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .preamble h3 {
    color: white;
  }
  .main.supporting {
    background-color: #A16B69;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .main.supporting:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .main.supporting h3 {
    color: white;
  }
  /* Summary */
  .summary {
    background-color: #C7B7A8;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .summary:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .summary a {
    color: black;
    font-weight: 800;
  }
  /* Header image */
  #header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  /* Sidebar */
  .sidebar {
    background-color: #535C66;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .sidebar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .sidebar .select {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-selection {
    color: black;
    width: 95%;
  }
  .sidebar .design-selection nav li {
    display: grid;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .design-selection nav li .design-name {
    display: flex;
    background-color: #C7B7A8;
    color: white;
    text-shadow: 2px 2px 3px black;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-image: url("../images/fairy-background-small.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 20px;
    border: 1px dotted white;
  }
  .sidebar .design-selection nav li .designer-name {
    color: white;
  }
  .sidebar .design-archives h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-archives nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .zen-resources h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .zen-resources ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .extra1 {
    background-image: url("../images/zen-garden-logo.svg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 500px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}
@media screen and (min-width: 776px) {
  /* Variables */
  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* General body styling */
  body {
    width: 95%;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    background-image: url("../images/background-small.jpg");
    background-size: cover;
  }
  /* Wrapper */
  .page-wrapper {
    width: 95%;
    margin-left: 20px !important;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
  }
  /* Introduction section */
  .intro header {
    background-color: #3D3B48;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: fade-in-down 2s ease-in-out;
    background-image: url("../images/hero-small.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
  }
  .intro header h1, .intro header h2 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.811);
  }
  a {
    color: #C7B7A8;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: #ffd700;
  }
  /* Summary and preamble sections */
  .preamble {
    background-color: #0A0D19;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .preamble:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .preamble h3 {
    color: white;
  }
  .main.supporting {
    background-color: #A16B69;
    color: white;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .main.supporting:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .main.supporting h3 {
    color: white;
  }
  /* Summary */
  .summary {
    background-color: #C7B7A8;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .summary:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .summary a {
    color: black;
    font-weight: 800;
  }
  /* Header image */
  #header-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  /* Sidebar */
  .sidebar {
    background-color: #535C66;
    border: 1px dotted white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
  .sidebar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  }
  .sidebar .select {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-selection {
    color: black;
    width: 95%;
  }
  .sidebar .design-selection nav li {
    display: grid;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .design-selection nav li .design-name {
    display: flex;
    background-color: #C7B7A8;
    color: white;
    text-shadow: 2px 2px 3px black;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-image: url("../images/fairy-background-small.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 20px;
    border: 1px dotted white;
  }
  .sidebar .design-selection nav li .designer-name {
    color: white;
  }
  .sidebar .design-archives h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .design-archives nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .zen-resources h3 {
    color: white;
    padding-left: 20px;
  }
  .sidebar .zen-resources ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .extra1 {
    background-image: url("../images/zen-garden-logo.svg");
    background-size: 500px 500px;
    background-repeat: no-repeat;
    background-position: center;
    width: 95%;
    height: 500px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}
/* 
************************************************************************************************************************
ATTRIBUTIONS
************************************************************************************************************************
HERO:
    files: hero-[small|medium|large|original].jpg
    <a href="https://www.freepik.com/free-photo/underwater-nature-fish-coral-seaweed-starfish-generated-by-ai_41218698.htm#query=fantasy&position=29&from_view=keyword&track=sph&uuid=ffb8d54d-75fa-44e3-b6e7-4f3b38eb3f4b">Image by vecstock</a> on Freepik
    accessed: 31 March 2024

BACKGROUND:
    files: background-[small|medium|large|original].jpg
    <a href="https://www.freepik.com/free-photo/yellow-old-paper-texture_18928804.htm#fromView=search&page=1&position=0&uuid=7aa45331-fa06-416c-a89a-b8da8870bee6">Image by Vectonauta on Freepik</a>
    accessed: 31 March 2024

FAIRY:
    files: fairy-background-small.jpg
    original creation: John M Harper + AI Chatbox (using this picture in one of my children's books co-authored with Anne Tuckett)
    created: 15 March 2024
    modified: 31 March 2024
        cropped the majority of the image out so it would fit our buttons.

DRAGON:
    files: /Users/johnharper/Downloads/vecteezy_dragon-head-illustration-01_9938299_925.zip
        vecteezy_dragon-head-illustration-01_9938299.eps
    <a href="https://www.vecteezy.com/vector-art/9938299-dragon-head-illustration-01">Image by creativeoasis</a>
    accessed: 3 April 2024
    modified 3 April 2024: John M Harper
        zen-garden-logo.svg  
*/

/*# sourceMappingURL=styles.css.map */
