/*
Random color palette from Coolors
    url: https://coolors.co/palettes/popular
    accessed: 6 February 2024
*/
/* SCSS HEX */
$rich-black: #01161E;
$midnight-green: #124559;
$air-force-blue: #598392;
$ash-gray: #AEC3B0;
$beige: #EFF6E0;

html, body {
    margin: 0 auto;
}
  
body .card-grid {
    max-width: 1000px;
    max-height: 2000px;
    background-color: $beige;
}


.card-grid .card {
    border-radius: 20px;
    border: 2px solid $rich-black;
    margin-bottom: 20px; /* Adjust margin as needed */
    /* max-width: calc(20% - 10px); ok, complex... at max, the .card can be 20% of the container less 10px */
    overflow: hidden; /* crop the image to the size of the card */
    position: relative; /* Positioning context for absolute positioning of h2 */

    img {
        max-width: fit-content; /* Ensure image fits within card width */
    }

    h2 {
        background-color: rgba(18, 69, 89, 0.5); /* Semi-transparent background for better readability */
        bottom: 0;
        box-shadow: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 100%;
        left: 0;
        margin: 0;
        padding: 10px; /* Adjust padding as needed */
        position: absolute;
        text-align: center;
        width: 100%;
    }

}  
  
/*
Row Grid:
  Add space between cards in row-grid
  - I didn't like just spacing one side
  - I played with various spacing but liked the plain margin best
*/

.row-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Align cards with equal spacing */
    max-width: 1000 px;
    max-height: 1000 px;

    .card {
        margin: 10px;
    }
}
  

/*
Column Grid:
    Added space between cards
    - centered the cards horizontally
    - plain margin (not top)
*/
  .col-grid {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; /* Align cards with equal spacing */
    margin: 0 auto;
    max-height: 1000px;

    .card {
        margin: 10px;
    }
  }  