$breakpoint-small: 600px;
$breakpoint-med-small: 700px;
$breakpoint-med: 800px;
$breakpoint-large: 1200px;
$body-background-color: wheat;
$body-color: rgb(54, 51, 51);
$form-background-color: gold;
$form-color: black;
$input-color: lightgray;

// Define the breakpoints, using @content as a placeholder for what I'll code below
// this block.
@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
    @if $size == 'small' {
        @media screen and (#{$type}-width: $breakpoint-small) {
            @content;
        }
    }
    @else if $size == 'med-small' {
        @media screen and (#{$type}-width: $breakpoint-med-small) {
            @content;
        }
    }
    @else if $size == 'med' {
        @media screen and (#{$type}-width: $breakpoint-med) {
            @content;
        }
    }
    @else if $size == 'large' {
        @media screen and (#{$type}-width: $breakpoint-large) {
            @content;
        }
    }
    @else if $size == 'custom' {
        @media screen and (#{$type}-width: #{$pixels}px) {
            @content;
        }
    }
    @else {
        @content;
    }
}

@include screen('small') {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background-color: $body-background-color;
        color: $body-color;

        form {
            display: grid;
            grid-column: auto;
            grid-row: auto;
            background-color: $form-background-color;
            fieldset {
                color: $form-color;

                input,
                textarea {
                    background-color: $input-color;
                    color: $form-color;
                }
            }
        }
    }
}
