$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;

$body-background-color: white;
$body-color: #FFFFFF;

@mixin screen($size, $type: max, $pixels: $breakpoint-small) {
    @if $size == 'small' {
        @media screen and (#{$type}-width: $breakpoint-small) {
            @content;
        }
    }
    @else if $size == 'medium' {
        @media screen and (#{$type}-width: $breakpoint-medium) {
            @content;
        }
    }
    @else if $size == 'large' {
        @media screen and (#{$type}-width: $breakpoint-large) {
            @content;
        }
    }
    @else {
        @content;
    }
}

@include screen('small') {
    $form-background-color: #E5BB89;
    $form-color: #6F5D44;
    $input-color: #CCC5B7;
}

@include screen('medium') {
    $form-background-color: #E5BB89;
    $form-color: #6F5D44;
    $input-color: #CCC5B7;
}

@include screen('large') {
    $form-background-color: #E5BB89;
    $form-color: #6F5D44;
    $input-color: #CCC5B7;
}